html, body{
    height:100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

.header{
    background-color: rgba(148,243,249,255);
    position: relative;
}

.texto{
    position: absolute;
    top: 25%;
    color: rgb(241, 8, 8);
    text-shadow: 0.2em 0.2em 0.2em rgb(247, 242, 217);
}

.btn-sesion{
    position: absolute;
    top: 30%;
}

.cuerpo{
    height:100%;
    width: 100%;
    background-color: rgb(250, 228, 120);
}



